* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    touch-action: none;
    display: flex;
}

#ui {
    position: relative;
    width: 300px;
    height: 100vh;
    background-color: #345;
    color: white;
    padding: 2em;
    font-family: sans-serif;

    #admin {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 2em;
    }
}

#canvas-wrap {
    flex: 1;
    background-color: rgb(245,250,255);
}

button {
    display: block;
    color: inherit;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 4px;
    margin-top: 1em;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .05em;

    &:hover,
    &:focus {
        outline: none;
        background-color: rgba(0,0,0,.3);
    }
}

input[type="number"] {
    width: 64px;
    height: 24px;
    padding: 16px;
    margin-top: 1em;
    font-size: 1em;
    background-color: rgba(0,0,0,.2);
    color: inherit;
    border: none;
    border-radius: 4px;

    &:hover,
    &:focus {
        outline: none;
        background-color: rgba(0,0,0,.3);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;

    }
}
