* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    touch-action: none;
    display: flex;
}

#ui {
    position: relative;
    width: 300px;
    height: 100vh;
    background-color: #345;
    color: white;
    padding: 2em;
    font-family: sans-serif;

    #admin {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 2em;
        background-color: rgba(0,0,0,.1);
        transition: bottom .5s ease-in-out;

        &:empty {
            bottom: -100%;
            padding: 0;
        }
    }
}

#canvas-wrap {
    flex: 1;
    background-color: rgb(245,250,255);
}

p {
    margin-bottom: 1em;
}

h3 {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
    margin-bottom: 1em;
}

button {
    display: block;
    color: inherit;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 4px;
    margin: 1em auto 0 auto;
    padding: 1em 2em;
    cursor: pointer;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .05em;

    &:focus {
        outline: none;
    }

    &:not(.disabled):hover,
    &:not(.disabled):focus {
        background-color: rgba(0,0,0,.3);
    }

    &.disabled {
        opacity: .6;
    }
}

input[type="number"] {
    width: 64px;
    height: 24px;
    padding: 16px;
    font-size: 1em;
    background-color: rgba(0,0,0,.2);
    color: inherit;
    border: none;
    border-radius: 4px;

    &:hover,
    &:focus {
        outline: none;
        background-color: rgba(0,0,0,.3);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;

    }
}

input[type="checkbox"] {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
    cursor: pointer;
    vertical-align: middle;

    &:hover,
    &:focus {
        outline: none;
        background-color: rgba(0,0,0,.3);
    }

    &:checked::after {
        content: "✓";
        position: absolute;
        top: 50%;
        left: 50%;
        font-weight: bold;
        color: white;
        font-size: 1.6em;
        transform: translate(-50%, -50%);
    }
}

input[type="checkbox"] {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: rgba(0,0,0,.2);
    border: none;
    border-radius: 4px;
    -webkit-appearance: none;
    cursor: pointer;
    vertical-align: middle;

    &:hover,
    &:focus {
        outline: none;
        background-color: rgba(0,0,0,.3);
    }

    &:checked::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "✓";
        color: white;
        font-size: 1.6em;
        transform: translate(-50%, -50%);
    }
}

label {
    display: inline-block;
    margin-left: .5em;
    pointer-events: none;
}
